* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(140deg,rgb(250,190,61), rgb(253,57,61));
}

.container {
    height: 100vh;
    width: 53%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.row{
    display: flex;
}

#card .container .box {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 55vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#card .container .box .row .left {
    position: relative;
    margin-top: 22%;
    background-image: linear-gradient(145deg,#fe8a39, #fd3838);
    box-shadow: 4px 13px 30px 1px rgb(252 56 56 / 20%);
    border-radius: 20px;
    width: 100%;
    height: 40vh;
    padding: 10px;
    right: 18%;

}

#card .container .box .row .right {
    margin-top: 20%;
    margin-left: 12%;
    
}

#card .container .box .row .right .word h2 {
    margin-top: 14px;
}

#card .container .box .row .right .word .paragraph {
    margin-top: 10px;
    margin-bottom: 7%;
    width: 67%;
}

#card .container .box .row .right .readmore {
    margin-top: 20px;

}

#card .container .box .row .right .readmore a {
    text-decoration: none;
    background-image: linear-gradient(75deg,#fe8a39, #fd3838);
    padding: 15px 35px;
    border-radius: 150px;
    color: white;
    font-weight: 600;
}



/*#region Columns*/
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
/*#endregion*/



